.cell {
    /* border: 0.5px solid gray; */
    /* min-width: 20px;
    min-height: 20px; */
    /* display: inline-block; */
    /* margin-right: 2px; */
    width: 100%;
    height:100%;
    /* opacity: 0; */
    /* z-index: 50; */
  }

  #container {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 0.5px solid gray;
    display: grid;
  }