.cell {
    border: 1px solid gray;
    /* min-width: 20px;
    min-height: 20px; */
    display: inline-block;
    /* margin-right: 2px; */
  }

  #container {
    width: 500px;
    height: 500px;
    margin: auto;
  }